  
  /** Home **/
  
  .intro {
    transform: translateY(25vh);
    text-align: center;
    line-height: 5em;
    .avatar {
      padding: 10px;
      img {
        width: 128px;
        height: auto;
        display: inline-block;
        -webkit-border-radius: 100%;
        border-radius: 100%;
        -webkit-box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 0 0.3618em rgba(0, 0, 0, 0.05);
        margin: 0 auto;
        -webkit-transition: all ease 0.4s;
        -moz-transition: all ease 0.4s;
        -o-transition: all ease 0.4s;
        transition: all ease 0.4s;
        cursor: pointer;
        &:hover {
          position: relative;
          -webkit-transform: translateY(-0.75em);
          -moz-transform: translateY(-0.75em);
          -ms-transform: translateY(-0.75em);
          -o-transform: translateY(-0.75em);
          transform: translateY(-0.75em);
          cursor: pointer;
        }
      }
    }
  }
  
  .subtitle {
    padding: 5px;
    a {
        font-size: 4em;
        letter-spacing: 1em;
        max-width: 780px;
        margin: 0 auto;
        text-align: center;
        height: 12em;
        /*font-family: monospace;*/
        font-family: serif;
        font-weight: bold;
    }
  }
  
  .description {
        padding-right: 10em;
        line-height: 10px;
        text-align: right;
        font-family: monospace;
  }
  


  .social-links {
    a {
    
      padding: 0 5px;
      &:hover {
       
        background-color: transparent;
      }
    }
    .iconfont {
      font-size: 2em;
    }
  }
